#!/usr/bin/make -f

%:
	dh $@ 

override_dh_auto_build:
	cd scripts && make 

override_dh_auto_configure:

override_dh_auto_install:
	install -Dm755 imagew debian/imageworsener/usr/bin/image-worsener

override_dh_auto_clean:
	cd scripts && make clean
